{% extends "home.html" %}

{% block content%}
<h4>Gerenciamento de Sentenças</h4>

<form method="post" role="form">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>

    <div class="form-group">
        {{ wtf.form_errors(form, hiddens="only") }}
    </div>
    <div class="form-row">

        <div class="form-group">
            <label>Selecione a Lista:</label>
            <select name="lista_selecionada" class="form-control">
                {% for x in listas: %}
                <option value="{{x.list_desc}}">{{x.list_desc}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-gruop col-md-6">
            <label>Sentença</label>
            {{ form.desc_sent(class="form-control")}}
        </div>
    </div>

    <button type="submit" class="btn btn-default">Criar
    <!--Inserir aqui função que grava valores-->
    </button>
</form>

<table class="table table-condensed table-hover table-bordered" id="minhaTabela">
    <thead>
        <tr>
            <th>Sentença</th>
            <th>Lista</th>
        </tr>
    </thead>
    <tbody class="painel">
        {% for x in sentencas: %}
        <tr>
            <td>{{x.desc_palavra}}</td>
            <td>{{x.lista}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<!--
 <table id="minhaTabela">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vinicius Moura</td>
        <td>viniciusmouramail@gmail.com</td>
        <td>49 12345-68791</td>
        <td><a href="">Deletar</a></td>
      </tr>
      <tr>
        <td>José Andrade</td>
        <td>joseandrade@gmail.com</td>
        <td>32 9875-68791</td>
        <td><a href="">Deletar</a></td>
      </tr>
      <tr>
        <td>Rodrigo Costa</td>
        <td>rodrigocosta@gmail.com</td>
        <td>32 4564-68791</td>
        <td><a href="">Deletar</a></td>
      </tr>
    </tbody>
  </table>
-->
{% endblock %}

{% block script%}
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script>
  $(document).ready(function(){
      $('#minhaTabela').DataTable({
          "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)"
            }
        });
  });
  </script>
{% endblock script %}